<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RegisterLogin</title>
	<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
  	<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="app">
		<div v-if="authUser">
			<h2>Signed as {{authUser.email}} </h2>
			<button @click="signOut">Sign out</button>
			<button @click="read">get users</button>
		</div>
		<div v-else>
			<h2>Register</h2>
			<form @submit.prevent="register">
				<input type="email" v-model="email" placeholder="Introduce el email">
				<input type="password" v-model="password">
				<button>Register</button>
			</form>
			<form @submit.prevent="signIn">
				<input type="email" v-model="email" placeholder="Introduce el email">
				<input type="password" v-model="password">
				<button>Sign In</button>
			</form>
		</div>
	</div>
</body>
<script>

	//Variables de configuración de FireBase, esto nos lo da el propio FireBase al agregar una aplicación a nuestro proyecto.
	var firebaseConfig = {
		apiKey: "AIzaSyD86Mh8RADANdxcb6cXvFXB5Ivn1FGjtfU",
		authDomain: "pruebafirebase-4eb3c.firebaseapp.com",
		databaseURL: "https://pruebafirebase-4eb3c.firebaseio.com",
		projectId: "pruebafirebase-4eb3c",
		storageBucket: "pruebafirebase-4eb3c.appspot.com",
		messagingSenderId: "660062525831",
		appId: "1:660062525831:web:680b445eb2ed7540"
	};

	//Inicializamos FireBase.
	firebase.initializeApp(firebaseConfig);

  	new Vue({
  		el: "#app",
  		data: {
  			email: "",
  			password: "",
			authUser: null
  		},
  		methods: {
  			//Función para registrar un usuario.
  			register () {
  				//Con este método autenticamos el usuario en FireBase.
        		firebase.auth().createUserWithEmailAndPassword(this.email, this.password);

        		//Y con esto guardamos el email de dicho usuario y un rol en nuestra colección en Firestore.
        		firebase.firestore().collection("users").add({
			  		email: this.email,
			  		rol: "empleado"
			  	}).then(function(){
			  		console.log("Document successfully written!");
			  	}).catch(function(error){
			  		console.error("Error writing document: ", error);
			  	});
      		},

      		//Con este método iniciamos sesión con un usuario.
			signIn(){
				firebase.auth().signInWithEmailAndPassword(this.email, this.password);
			},

			//Con este método cerramos sesión de un usuario.
			signOut(){
				firebase.auth().signOut();
			},

			//Con este método leemos todos los usuarios que hay en nuestra colección users, este método ha sido implementado para cuano
			//tengamos que sacar el listado de fichajes de todos los usuarios.
			read(){
				firebase.firestore().collection("users").get().then(function(querySnapshot){
					querySnapshot.forEach(function(doc){
						console.log(doc.id, " => ", doc.data().email);
					});
				})
			}
  		},
		  created(){
		  	  //Con este método vemos si el usuario ha cambiado, por ejemplo al iniciar sesión ha cambiado y así podemso mostrar datos de ese usuario.
			  firebase.auth().onAuthStateChanged(user => {
			  	this.authUser = user;

			  	//Comprobamos si el usuario ha verificado su email, en caso negativo le enviamos un email para que lo verifique.
			  	//Este email se puede modificar en la consola de Firebase en plantillas.
			  	if(this.authUser != null && !this.authUser.emailVerified){
			  		this.authUser.sendEmailVerification();
			  	}
			  });
		  }
  	})
</script>
</html>